#principalC {
  background-image: url(../../assets/background-pic.png);
  height: 100%;
}
.headerC {
  background-color: #f0f0f0;
  text-align: left;
  background-image: url(../../assets/background-pic.png);
}

.headerC-title {
  margin: 0;
  font-size: 30px;
  color: #ffffff;
  margin-left: 3%;
  font-weight: 500;
  font-style: italic;
}
.contacto-form {
  margin-top: 3rem;
}

.contacto-container {
  width: 30%;
  border-radius: 5px;
  height: 10px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.contacto-container img {
  margin-top: 3%;
  width: 25px;
  height: 25px;
  cursor: pointer;
}


h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.contacto-form input {
  display: block;
  width: 100%;
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: black;
}


.contacto-form button {
  background-color: #ffa500;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.contacto-form button:hover {
  background-color: #cc8400;
}
