.routine-carousel {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 20px;
  margin-top: 10px;
  margin-left: 5.7rem;
  margin-right: 0.7rem;
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  overflow-x: hidden;
}

.routine-header {
  display: flex;
}

.routine-header h2 {
  font-size: 24px;
  font-weight: bold;
}
.info-arrow  {
  font-size: 20px;
  margin-left: 1rem;
}

.routine-carousel ul {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  padding: 10px 0;
  margin: 0;
  list-style: none;
}

.routine-carousel ul::-webkit-scrollbar {
  height: 7px;
}

.routine-carousel ul::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.routine-carousel ul::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.routine-carousel ul div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: min-content;
}

.routine-carousel-centered {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100%; 
}

#SleepingImg {
  width: 10rem;
  height: 9rem;
  transition: transform 0.3s ease;
  object-fit: contain; 
}

#SleepingImg:hover {
  transform: scale(1.1);
}
